html {
	font-size: $rem-font-size;
}
body {
	position: relative;

	font-family: $document-font-family;
	font-weight: $document-font-weight;
	font-size: $document-font-size;
	line-height: $document-line-height;
	color: $document-color;

	background-color: $document-background;
}

img {
	max-width: 100%;
	// height: auto;
}


.sticky-wrap {
	@include md() {
		position: sticky;
		top: 0;
		left: 0;
		width: 100%;
		&_footer {
			top: auto;
			bottom: 0;
		}
	}
}
a {
	color: #778FFF;
	&:hover {
		color: #778FFF;
	}
}


.max-width-580 {
	width: 100%;
	max-width: 580px;
}

.max-width-600 {
	width: 100%;
	max-width: 600px;
}
.max-width-650 {
	width: 100%;
	max-width: 650px;
}

.bg-main {
	background: #1B1818;
	box-shadow: 0px 0px 1px rgba(234, 233, 233, 0.15);
}

.order-wrap-column {
	position: relative;
	@include mxl() {
		padding-top: 40px;
	}
	@include mmd() {
		padding-top: 20px;
	}
	& + & {
		&:before {
			content: '';

			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			border-left: 1px solid #282525;
			@include mxl() {
				height: auto;
				width: 100%;
				border-left-color: transparent;
				border-top: 1px solid #282525;
			}
		}
	}
}

.bg-warn {
	background: linear-gradient(0deg, rgba(191, 0, 0, 0.15), rgba(191, 0, 0, 0.15)), rgba(23, 21, 21, 0.88);
	box-shadow: 0px 0px 1px rgba(234, 233, 233, 0.15);
	backdrop-filter: blur(32px);
}