$rem-font-size: 16px;
$font: 'Roboto', sans-serif;
$font2: 'Intro Rust G', sans-serif;

// values for body tag
$document-font-family: $font;
$document-font-weight: 400;
$document-font-size: 1rem;
$document-color: #fff;
$document-line-height: 1.3;
$document-background: #1B1111;