.button-clr {
	background-color: transparent;
	padding: 0;
	border: none;
	&:focus {
		outline: none;
	}
}
.button {
	display: inline-block;
	border: 1px solid #BF0000;
	padding: 16px 15px;
	font-size: 16px;
	line-height: 1;
	text-align: center;
	color: #fff;

	border-radius: 11px;
	text-decoration: none !important;

	box-shadow: 0px 0px 14px rgba(214, 25, 25, 0.3);
	transition: linear .1s;
	&:hover {
		color: #fff;
		&:not(div) {
			box-shadow: 0px 0px 14px rgba(214, 25, 25, 0.7);
		}
	}
	&-red {
		color: #fff;
		background: #BF0000;
		box-shadow: 0px 0px 14px rgba(214, 25, 25, 0.5);
		&:hover {
			box-shadow: 0px 0px 14px rgba(214, 25, 25, 0.8);
			// color: #fff;
		}
	}
	&-grey {
		border-color: transparent;
		background: rgba(46, 41, 41, 0.54);
		box-shadow: 0px 0px 1px rgba(234, 233, 233, 0.15);
		border-radius: 6px;
		text-align: left !important;
		.svg-icon {
			font-size: 17px;
			color: #fff;
		}
		span {
			font-size: 12px;
			line-height: 1.2;
			color: #C2ADAD;
			// text-transform: uppercase;
		}
		&:hover {
			box-shadow: none !important;
		}
	}
}



.button-click {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: 50% 50%;
	transform: scale(0);
	border-radius: 50%;
	z-index: 1;

	background-color: rgba(#fff, .1);

	animation: scaleUp .5s linear;
}

a[data-click="animated"] {
	position: relative;
	display: block;
}

.button-circle {
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #BF0000;
	border-radius: 50%;

	font-size: 20px;
	color: #fff;
	transition: linear .1s;
	&:hover {
		box-shadow: 0px 0px 14px rgba(214, 25, 25, 0.8);
	}
	&_part-control {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translate(0, -50%);
	}
}