h1 {
	font-family: $font2;
	font-size: 40px;
	line-height: 1.2;
	@include lg() {
		font-size: 56px;
	}
	@include msm() {
		font-size: 28px;
	}
}
h2 {
	font-family: $font2;
	font-size: 22px;
}
h3 {
	font-size: 22px;
	line-height: 26px;
}
.title {
	position: relative;
	display: inline-block;
	padding-bottom: 20px;
	&:after {
		content: '';

		position: absolute;
		bottom: 0;
		left: 50%;
		width: 100px;
		height: 7px;
		transform: translate(-50%, 0);

		background-image: url('../images/separator.svg');
		background-repeat: no-repeat;
		background-size: 100px 7px;
		background-position: 50% 50%;
	}
}

blockquote {
	display: block;
	// padding: 25px 30px 25px 40px;
	padding-top: 35px;
	padding-bottom: 40px;
	padding-left: 20px;
	font-style: italic;
	font-size: 16px;
	line-height: 126.19%;
	text-align: center;

	color: #C2ADAD;
	position: relative;
	&:before, &:after {
		content: '';
		position: absolute;
		width: 35px;
		height: 35px;
		background-image: url('../images/quote.svg');
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	&:before {
		top: 0;
		left: 10px;


	}
	&:after {
		bottom: 15px;
		right: 10px;
		transform: rotate(180deg);
	}
}

.devider {
	border: none;
	border-bottom: 1px solid #282525;
}
.color-secondary {
	color: #C2ADAD;
}


.text-red {
	color: #BF0000 !important;
}