.form-control {
	height: auto;
	min-height: auto;
	line-height: 1;
	padding: 19px 20px;

	color: #000 !important;
	line-height: 1;
	font-size: 1rem;


	background: #FFFFFF;
	border: 1px solid #221A1A;
	box-sizing: border-box;
	box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.25);
	border-radius: 11px;

	resize: none;

	&:focus {
		outline: none;
		border-color: #221A1A;
		box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.25);
	}
}