.select {
	display: block;
	padding: 10px 55px 10px 15px;
	width: 100%;

	font-size: 18px;
	line-height: 29px;
	color: #000000;

	background-color: #fff;
	border-radius: 11px;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';

	background-image: url('../images/trigger.svg');
	background-position: 98% 50%;
	background-repeat: no-repeat;
	&:focus {
		outline: none;
	}
}



.label {
	font-size: 18px;
	line-height: 29px;

	color: #CECACA;

}

.form-style {
	.label {
		font-size: 18px;
		line-height: 29px;
		color: #C2ADAD;
	}
	.form-control {
		
	}
}