.front-anchor {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, 0);
	font-weight: 300;
	font-size: 12px;
	line-height: 126.19%;
	letter-spacing: 0.115em;
	text-transform: uppercase;
	text-align: center;

	color: #fff !important;
	text-decoration: none !important;
	&:hover {
		img {
			animation-name: downAnimation;
			animation-duration: 4s;
			animation-iteration-count: infinite;
		}
	}
}