.good-preview {
	background: #1B1818;
	box-shadow: 0px 0px 1px rgba(234, 233, 233, 0.15);
	img {
		width: 100%;
		object-fit: cover;
	}
}
.good-preview-list {
	// color: #C2ADAD;
}
.good-preview-price {
	font-weight: 900;
	font-size: 20px;
	line-height: 1;
}