.drawer {
	position: relative;
	z-index: 2;
	width: 100%;

	background: #221B1B;
	box-shadow: 0px 0px 1px #FF1E1E;
	@include md() {
		max-width: 300px;
		flex: 0 0 300px;
	}
	@include mmd() {
		// background-color: #151212;
		// position: sticky;
		// top: 0;
		// left: 0;
		// width: 100%;
	}
	@include mmd() {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
		
		background-color: rgba(#000, .3);

		opacity: 0;
		visibility: hidden;
		transition: linear .1s;
		.logo {
			width: 150px;
		}
		&.visible {
			opacity: 1;
			visibility: visible;
		}
	}
	@include msm() {
		.logo {
			width: 100px;
		}
	}
}

.drawer-in {
	@include mmd() {
		max-width: 290px;
		background-color: #221B1B;
		height: 100%;
		overflow-y: auto;
		margin-left: auto;
	}
}
.drawer-head {
	background-color: #151212;
}
.drawer-logo {
	@include mmd() {
		width: 100px;
	}
}