.menu-nav {
	li {
		display: block;
	}
	a {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		padding: 12px 0;
		font-size: 13px;
		line-height: 15px;
		color: #FFFFFF;
		position: relative;
		&:after {
			content: '';

			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;

			border-bottom: 1px solid #343434;
			transition: linear .1s;
		}
		&:hover {
			text-decoration: none;
		}
	}
	.svg-icon {
		margin-right: 10px;
		font-size: 17px;
		color: #BF0000;
	}
	&:hover {
		a {
			&:after {
				opacity: 0;
				visibility: hidden;
			}
			&:hover {
				&:after {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}