.news {

}
.news-card {
	background: #1B1818;
	box-shadow: 0px 0px 1px rgba(234, 233, 233, 0.15);

	font-size: 16px;
	line-height: 1.4;
	color: #C2ADAD;
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		counter-reset: section;
		li {
			display: flex;
			flex-wrap: nowrap;
			font-size: 16px;
			line-height: 1.4;
			color: #fff;
			&:before {
				counter-increment: section;
				content: counter(section) ") ";

				font-weight: 900;
				color: #BF0000;
				margin-right: 5px;
			}
		}
	}
}
.news-card-head {
	border-bottom: 1px solid #282525;
	margin-bottom: 15px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 15px;
	}
}
.news-card-date {
	margin-left: 20px;
	margin-bottom: 15px;

	color: #C2ADAD;
	line-height: 1.4;
}