.pagination {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	ul {
		// flex-grow: 1;
		list-style: none;
		padding: 0;
		margin: 0 13px;

		display: flex;
		flex-wrap: wrap;
		li {
			background: #2B2727;
			border: 1px solid #383131;
			margin-left: 3px;
			margin-right: 3px;
			padding: 4px 7px 1px;
			&.active {
				& > * {
					color: #fff;
				}
			}
		}
		a, span {
			display: block;
			font-size: 22px;
			line-height: 1;
			color: #C2ADAD;
		}
		a {
			text-decoration: none !important;
		}
		// span {
		// 	color: #fff;
		// }
	}
	&:before, &:after {
		content: '';
		display: block;
		flex-grow: 1;
		border-bottom: 1px solid #282525;
	}
	&:hover {
		
	}
	&:after {
		content: '';
	}
}