.products {

}
.product-column {
	@media only screen and (min-width: 1400px) {
		max-width: 33.3%;
		flex: 0 0 33.3%;
	}
	@media only screen and (min-width: 1660px) {
		max-width: 25%;
		flex: 0 0 25%;
	}
}