<div class="sticky-wrap sticky-wrap_footer mt-auto">
	<footer class="footer">
		<div class="pl-5 pr-5">
			<div class="container-fluid ml-2 mr-2 text-center">
				При поддержке форума <a class="footer-link" href="#">RCClub</a>
				<div class="copy mt-2">© 2018 COPYRIGHT</div>
			</div>
		</div>
	</footer>
</div>